@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #010101;
    font-family: "Inter", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
